<h1>Eat Tha Burger!</h1>

<h2>Order your deliciouse burgurgers here!</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{!-- {{> burgers/burger-block devoured=false}} --}}
    <h3>{{burger_name}}</h3>
    <button id="{{id}}" class="btn btn-success devour-btn">Devour</button>
    <button id="{{id}}" class="btn btn-success delete-btn">Delete</button>
    {{/unless}}
    {{/each}}
</ul>

<h2>Devoured Burgers</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{!-- {{> burgers/burger-block devoured=true}} --}}
    <h3>{{burger_name}}</h3>
    <button id="{{id}}" class="btn btn-success undevour-btn">Undevour</button>
    <button id="{{id}}" class="btn btn-success delete-btn">Delete</button>
    {{/if}}
    {{/each}}
</ul>
{{!-- <h2>Add a Cat</h2>
<form class="create-form">

    <div class="form-group">
        <label for="ca">Cat Name:</label>
        <input type="text" id="ca" name="name">
    </div>

    <div class="form-group">
        <label for="sleepy">Sleepy?</label><br>
        <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
        <input type="radio" name="sleepy" value="0"> Awake
    </div>

    <button type="submit">Add Cat</button>
</form> --}}

<div class="container">
    <h4>Enter a burger's name, and click submit</h4>
    <form class="create-form">
        <p>Burger Name:</p>
        <div class="form-group">
            <textarea type="text" id="burger" name="name" placeholder=""></textarea>
        </div>
        <button type="submit" class="form-button btn-primary mt-2">Submit</button>
    </form>
</div>